.navbar {
    text-align: center;
    background-color: brown;
    color: wheat;
    padding: 20px;
    text-decoration: none;
}

ul a {
    text-decoration: none;
    color: wheat;
    padding: 0 10px;
}

#words {
    background-color: blue;
    color: white;
}